/* Header */
.home-image{
    height: 450px;
    align-content: center;
}

.header-background{
    width: auto;
    background: #F6FBED;
    /* background: white; */
}

.welcome-message {
    display:flex;
    align-items:left;
    margin-top: 150px;
    font-family: 'Nunito';
    font-size: 22px;
    font-weight: 500;
    color: #9BB96B;
    margin-bottom: 2px;
  }

  .welcome-message-mobile {
    display:flex;
    align-items:left;
    margin-top: 20px;
    font-family: 'Nunito';
    font-size: 22px;
    font-weight: 600;
    color: #9BB96B;
    margin-bottom: 10px;
  }

  .welcome-paragraph{
    font-family: 'Open Sans';
    font-size: 14px;
    margin-top: 0;
  }

  .contact {
    text-decoration: none;
    font-size: 50px !important;
    color: black !important;
    opacity: 0.15 !important;
    padding-right: 30px;
    padding-top: 15px;
  }

  button:hover,
  .contact:hover {
    /* color: #9BB96B; */
    opacity: 0.65 !important;
  }

  /* Dev & Design Container */
  .white-space{
      margin-top: 150px;
  }

  .subheading {
    display:flex;
    align-items:left;
    margin-top: 60px;
    font-family: 'Nunito';
    font-size: 22px;
    font-weight: 600;
    color: #9BB96B;
    margin-bottom: 2px;
  }

  .dev-des-header {
    display:flex;
    align-items:left;
    margin-top: 30px;
    font-family: 'Nunito';
    font-size: 22px;
    font-weight: 500;
    color: black ;
    margin-bottom: 0px;
  }

  .dev-des-image {
      height: 100px;
      opacity: 0.65 !important;
      background-color: #F6FBED;
      margin-top: 30px;
  }

  .about-paragraph{
    font-family: 'Open Sans';
    font-size: 14px;
    margin-top: 15px;
  }

/* Portfolio Page */

.portfolio-image {
    height: 250px;
    margin-top: 50px;
}

.portfolio-header {
    display:flex;
    align-items:left;
    margin-top: 75px;
    margin-left: 20px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 0px;
  }

.portfolio-paragraph {
    font-family: 'Open Sans';
    font-size: 14px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .portfolio-subheading {
    display:flex;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
    font-family: 'Nunito';
    font-size: 22px;
    font-weight: 600;
    color: #9BB96B;
  }

  /* Resume Page */

  .resume-pdf{
    align-content: center;
    margin-top: 80px;
    width: 600px;
  }